<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".NtdLifecycleProbeActivity"
            android:exported="true" />
        <activity
            android:name=".NtdPhysicalEvidenceActivity"
            android:exported="true" />
        <activity
            android:name=".NtdM13HardwareEvidenceActivity"
            android:exported="true" />
        <activity
            android:name=".NtdRealModelProbeActivity"
            android:exported="true" />
    </application>
</manifest>
